@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    overflow-x: hidden;
    background-color: #343434;
    font-family: 'Montserrat',serif;
    display: flex;
    justify-content: center;
}

main {
    width: inherit;
    background-color: rgb(255, 255, 255);
    height: auto;
}

nav {
    display: flex;
    justify-content: center;
    height: 8vh;
    background-color: #ebebeb;
    align-items: center;
}

footer {
    margin-top: 2rem;
    height: 5rem;
    display: flex;
    align-items: center;
    padding-inline: 5rem;
    background-color: rgb(203, 203, 203);
}

.selectWrapper {
    margin-inline: 10%;
    margin-bottom: 2rem;
}

.searchbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ebebeb;
    border: 2.7px solid #0000007a;
    border-left: #ff4c4c solid 3px;
    border-right: #ff4c4c solid 3px;
    width: 85%;
    height: 70%;
    border-radius: 40px;
    padding-inline: 1.5rem;
}
.search {
    border: 0;
    background-color: inherit;
    height: 70%;
    width: 70%;
}
.search::placeholder {
    color: #0000007a;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
}

input {
    text-align: center;
    color: #0000007a;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 2rem;
}

.nav-title {
    color: #ff4c4c;
    font-weight: 800;
    font-size: 2.4rem;
}

.fa-magnifying-glass {
    color: #ff4c4c;
    font-size: 2rem;
    margin-left: 1.6rem;
}

.top {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-inline: 11%;
    margin-block: 2rem
}
.top h1 {
    color: #ff4c4c;
    font-size: 3rem;
    font-weight: 800;
}
.top h2 {
    color: #0000007a;
    font-size: 2.6rem;
    font-weight: 600;
    margin-top: 0.5rem;
}

.cards {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.card {
    width: 80%;
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    transition: transform ease-in-out 0.4s, background-size ease 1.4s;
}

.topper {
    height: 23rem;
    background-image: linear-gradient(to bottom, #0000008f 7%, #00000000), url('https://images.unsplash.com/photo-1584947897804-408958123f1d?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    background-size: 100%;
    border-radius: 16px 16px 0 0;  
    transition: background-size ease 1.4s;
}
.topper-2 {
    background-image: linear-gradient(to bottom, #0000008f 7%, #00000000), url('https://images.unsplash.com/photo-1604382354936-07c5d9983bd3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}
.topper-3 {
    background-image: linear-gradient(to bottom, #0000008f 7%, #00000000), url('https://images.unsplash.com/photo-1634188023615-7e08901193b6?q=80&w=1886&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}
.topper-4 {
    background-image: linear-gradient(to bottom, #0000008f 7%, #00000000), url('https://images.unsplash.com/photo-1644940733241-d2512327ed2b?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}
.topper-5 {
    background-image: linear-gradient(to bottom, #0000008f 7%, #00000000), url('https://images.unsplash.com/photo-1605291581926-df4bf7ee3e89?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}
.topper-6 {
    background-image: linear-gradient(to bottom, #0000008f 7%, #00000000), url('https://images.unsplash.com/photo-1621852004158-f3bc188ace2d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.card:hover {
    transform: scale(1.02);
    .topper {
        background-size: 150%;
    }
    .tag {
        animation: flash 2s;
    }
}

.tag {
    background-color: rgb(255, 255, 255);
    color: #000;
    width: 12rem;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    padding: 0.5rem;
    position: relative;
    top: 15px;
    left: 15px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    background-color: #00000020;
    border-radius: 0 0 16px 16px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1.2rem;
}

.para {
    margin-inline: 1.2rem;
}

.price {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    margin: 1.2rem;
}

.selectWrapper{
    border-radius:36px;
    display:inline-block;
    overflow:hidden;
    background:#cccccc;
    border:1px solid #cccccc;
  }
  .selectBox{
    width:220px;
    height:40px;
    border:0px;
    outline:none;
    background-color: #cccccc;
    font-family: 'Montserrat',serif;
    font-size: 22px;
    text-align:center;
  }


.subtext {
    color: #0000007a;
}
.old {
    color: #ff4c4c;
    text-decoration: line-through;
}
.new {
    color: #30be32;
}
